.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    svg {
        margin: 5%;
    }
    
    .controls {
        position: absolute;
        top: 23%;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;

        .controls-buttons {
            display: flex;
            justify-content: center;
            margin-top: 4%;

            button {
                background-color: white;
                border: transparent;
                font-size: 40px;
                // padding: 7px 15px 7px 1px;
            }

            .button-activated-background {
                filter: invert(100%);
                transition: all .5s linear;
            }

            #start-button {
                border-radius: 25px 0 0 25px;
                padding: 7px 10px 7px 15px;
            }

            #pause-button {
                border-radius: 0 25px 25px 0;
                padding: 7px 15px 7px 10px;
            }
        }

        input {
            width: 20%;
            background-color: transparent;
            text-align: center;
            border: none;
            border-bottom: solid 3px black;
            font-size: 5em;
            transition: all .1s linear;
            display: block;
        }

        input:focus {
            outline: none;
        }
    }
}

footer {
    font-family: Arial;
    text-align: center;

    a {
        font-size: 12px;
        opacity: 80%;
        text-decoration: none;
        color: black;
    }
}